<%- include('partial/head.ejs') %>
  <body>
    <div class="fix">
      <h1 class="text-3xl my-5 font-bold">Selamat Datang di Sekolah</h1>
      <nav>
        <ul>
          <li><a href="/student">Student</a></li>
          <li><a href="/teacher">Teacher</a></li>
          <li><a href="/mapel">Mapel</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
