<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
          padding: 0;
          margin: 0;
        }
        .container {
          background-color: darkkhaki;
          margin: auto;
          border-radius: 5px;
          width: 50%;
          margin-top: 30px;
        }
        form {
          padding: 20px;
        }
        div {
          display: flex;
          flex-direction: column;
        }
        label {
          margin-top: 6px;
        }
        input {
          margin-top: 6px;
          height: 3rem;
          border-radius: 5px;
          outline: white;
          padding-left: 3px;
        }
        .button-add {
          margin-top: 15px;
          background-color: white;
          color: black;
          outline: blue;
          width: 6rem;
          height: 2.5rem;
          border-radius: 8px;
        }
      </style>
</head>